.checkout-product {
  display: flex;
  margin: 20px 0;
}

.checkout-product__info {
  padding: 0 0 0 20px;
}

.checkout-product__info > button {
  background: #80ff80;
  border: 1px solid;
  color: #ffffff;
  margin: 10px 0 0;
}

.checkout-product__image {
  height: 180px;
  object-fit: contain;
  width: 180px;
}

.checkout-product__rating {
  display: flex;
}

.checkout-product__title {
  font-size: 17px;
  font-weight: 800;
}
